<!-- event/templates/event/home.html -->

{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
     <div id="home" class="row">
          <div id="sidebar" class="col-sm-3">
               <li><a onclick=active_rooms() role="button" class="btn btn-outline-primary">Active rooms</a></li>
               <li><a onclick=active_rooms() role="button" class="btn btn-outline-primary">Active rooms</a></li>
          </div>
          
     </div>
     
</div>


{% endblock page_content %}