<!-- event/templates/event/home.html -->

{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
     <div id="home" class="row">
          <div id="sidebar" class="col-sm-2">
               <li id="no-bp"><a onclick=free_rooms() role="button" class="btn btn-outline-success">Free rooms</a></li>
               <li id="no-bp"><a onclick=active_rooms() role="button" class="btn btn-outline-danger">In use rooms</a></li>
          </div>
          
          <div id="display-page" class="col-sm-10">
               <!-- input free rooms by default-->
               <div id="free-rooms">

               </div>
               <div id="active rooms">

               </div>
          </div>
     </div>
</div>


{% endblock page_content %}