#sidebar {
     border-right: solid;
     border-bottom: solid;
     border-color: #6c757d;
     position:relative;
     padding-left: 20px;
     font-size: 15px;
}

#no-bp {
     list-style-type: none;
     padding: 15px;
     position: relative;
}

#display-page {
     
}